* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

textarea {
  width: 50%;
  height: 100%;
  border: 1px solid #ccc;
  float: left;
  font-size: 18px;
  padding: 15px;
  outline: none;
  resize: none;
}

#out {
  background: #eee;
  height: 100%;
  width: 50%;
  float: right;
}
